{% load crispy_forms_filters %}
<!DOCTYPE html>
{% load static %}
{% load bootstrap_icons %}

<html lang="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main1.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% if title %}
        <title>This is: {{ title }} </title>
    {% else %}
        <title>The title is missing but here's a spare one.</title>
    {% endif %}
</head>

<body>
    <nav class="site-header navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">

        <!-- BRAND LOGO -->
        <a class="navbar-brand d-inline " href="{% url 'offerlist' %}">
            <img class="img" src="{% static 'HomeGardensLogo.png' %}" alt="Home Garden Logo">
        </a>

        <!-- TOGGLE BUTTON -->
        <button class="navbar-toggler ms-auto mx-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- COLLAPSABLE NAVBAR -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="d-flex cont">
                <!-- SEARCH FORM -->
                <form method='GET'>
                    <input class="form-control me-2 button-search-right" type="search" name='titlesearch'
                           placeholder="Znajdź swoją roślinę!" aria-label="Search">
                    <input class="btn" placeholder="Opcje" type="hidden">
{#                    {{ title_filter.form }}#}
                </form>
                <!-- SEARCH BY DETAILS  -->
{#                <div class="dropdown">#}
{#                    <button class="btn button-search-left btn-primary dropdown-toggle" type="button"#}
{#                     id="detailSearchDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        {% bs_icon 'search' %}#}
{#                    </button>#}
{#                    <div class="dropdown-menu content-section" aria-labelledby="detailSearchDropdownMenu">#}
{#                       #}
{#                    </div>#}
{#                </div>#}


                <div class="dropdown">
                    <button class="btn btn-primary button-search-left dropdown-toggle" type="button"
                            id="detailSearchDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        {% bs_icon 'search' %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="detailSearchDropdownMenu">
                        <form method="GET" class="px-4 py-3">
                            {% for field in offer_filter.form %}
                                {% if field.name == 'start_date' %}
                                    <h6>{{ field.label }}</h6>
                                    {% for element in field %}
                                        {{ element }}
                                     {% endfor %}
                                {% endif %}

                                {% if field.name == 'end_date' %}
                                    <h6>{{ field.label }}</h6>
                                    {% for element in field %}
                                            {{ element }}
                                    {% endfor %}
                                {% endif %}

                                {% if field.name != 'title' and field.name != 'start_date' and field.name != 'end_date' %}
                                    <div class="form-control">
                                        {{ field.label }}
                                        {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="container d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary m-2"
                                name='detailsearchbutton' value='Szukaj'>Szukaj</button>
                            </div>
                        </form>
                        <a class="dropdown-item active" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="#">Separated link</a>
                </div>
                </div>
            </div>

            <!-- Navbar Right Side -->
            <ul class="nav nav-pills nav ms-auto">

                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-item nav-link btn " href="{% url 'admin:index' %}">
                            {% bs_icon 'nut' %} Panel Administratora</a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item nav-link btn" href="{% url 'offercreate' %}">
                            {% bs_icon 'plus-circle' %} Dodaj ogłoszenie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link btn" href="{% url 'account' user.id %}">
                            {% bs_icon 'person-square' %} Twoje konto</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-item nav-link btn" href="{% url 'logout' %}">
                           {% bs_icon 'box-arrow-right' %} Wyloguj</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link  btn" href="{% url 'login' %}">
                            {% bs_icon 'box-arrow-in-right' %} Zaloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link btn" href="{% url 'register' %}">
                            {% bs_icon 'card-list' %} Rejestracja</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-item nav-link btn" href="#">
                        {% bs_icon 'hand-thumbs-up' %} O nas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-item nav-link btn" href="#">
                         {% bs_icon 'book' %} Poradnik </a>
                </li>
            </ul>
        </div>
    </nav>

    {### PAGINATION ####}
    {% if is_paginated %}
        <div class="container fixed-bottom p-0 " style="margin-top: 100px">
            <div class="d-flex justify-content-center" style="padding: -15px">

                {% if page_obj.has_previous %}
                    <a class="btn btn-primary m-1 transbox d-none d-sm-block" href="?page=1">
                        Pierwsza</a>
                    <a class="btn btn-primary m-1 transbox" href="?page={{ page_obj.previous_page_number }}">
                        Poprzednia</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <a class="btn btn-primary m-1 transbox" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <a class="btn btn-primary m-1 transbox" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-primary m-1 transbox" href="?page={{ page_obj.next_page_number }}">
                        Następna</a>
                    <a class="btn btn-primary m-1 transbox d-none d-sm-block" href="?page={{ page_obj.paginator.num_pages }}">
                        Ostatnia</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <main role="main" class="container {% if paginated %} p-5 {% else %} p-3 {% endif %}">
        <div class="row">
            <div class="col-12 mx-auto">
                {% if request %}
                    {% if request.path != '/users/login/' and request.path != '/users/register/' %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </main>

    <!-- JavaScript -->
    <script type='text/javascript' src='{% static "home/main.js" %}'></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossOrigin="anonymous"></script>
</body>
</html>