{% extends "home/base.html" %}
{% block content %}

<div class="row d-flex justify-content-center">        
    {% for offer in offers %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">

            <div class="card content-section2  w-100 my-3 shadow-lg " style='padding: 0'>

                <div class="card-header">
                    <h3>{{ offer.title }}</h3> 
                </div>
                <a href="{{ offer.get_absolute_url }}">
                    <img src="{{ offer.offerimage_set.all.first.gallery_image.url }}"
                    class="card-img-top img-fluid mx-auto mw-100"
                    alt="cover-photo"></a>
                <div class="card-body mx-auto">
                    <h5 class="card-title text-center py-1">{{ offer.price }} zł</h5>
                    <a href="{{ offer.get_absolute_url }}" class="btn btn-primary">Zobacz ogłoszenie</a>
                </div>
                <div class='card-footer mx-auto w-100'>
                    <p class="card-text">{{ offer.date_posted|timesince }} temu </p>
                </div>
            </div>
    </div>    
    {% endfor %}
</div>


{% endblock content %}








