{% extends "home/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="row" >
        <div class='button-search-detail' style="width: auto; margin: auto">
            <form method="GET">
                {% for field in offer_filter.form %}
                    {% if field.name == 'start_date' %}
                        <h6>{{ field.label }}</h6>
                        {% for element in field %}
                            {{ element }}
                         {% endfor %}
                    {% endif %}

                    {% if field.name == 'end_date' %}
                        <h6>{{ field.label }}</h6>
                        {% for element in field %}
                                {{ element }}
                        {% endfor %}
                    {% endif %}

                    {% if field.name != 'title' and field.name != 'start_date' and field.name != 'end_date' %}
                        <div class="form-control">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="container d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary m-2"
                    name='detailsearchbutton' value='Szukaj'>Szukaj</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}