[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-filter = "*"
django-bootstrap-icons = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-cleanup = "*"
django-livesync = "*"
djangorestframework = "*"
httpie = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
