{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-10 col-md-6 content-section-no-pad-no-marg mx-auto">

        <ul class="nav nav-pills nav-justified mt-2" id="myTab" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="offer-tab" data-bs-toggle="tab" data-bs-target="#offer"
                    type="button" role="tab" aria-controls="offer" aria-selected="true">
                    Ogłoszenie
                </button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="seller-tab" data-bs-toggle="tab" data-bs-target="#seller" type="button"
                    role="tab" aria-controls="seller" aria-selected="false">
                    Sprzedający
                </button>
            </li>

        </ul>


        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="offer" role="tabpanel" aria-labelledby="offer-tab">

                <h2 class="card-title text-center mt-2"> object.title </h2>

                <div class="card-body">
                    <h3>Cena: <small> object.price|stringformat:".2f" zł</small></h3>
                    <h4>DO NEGOCJACJI</h4>
                    <p>object.description </p>
                </div>

                <div class="card-footer d-block">
                    <!-- KARUZELA -->
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                            <div class="carousel-item active justify-content-center" data-bs-interval="2000">
                                <img src="https://thispersondoesnotexist.com/" class="d-flex-block" alt="...">
                            </div>

                            <div class="carousel-item justify-content-center" data-bs-interval="2000">
                                <img src="https://thispersondoesnotexist.com/" class="d-flex-block" alt="...">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-------------->
                </div>

                <div class="card-footer d-block justify-content-end">

                    <a href="#" class="btn btn-secondary m-1" type="submit">Update</a>

                    <a href="#" class="btn btn-danger m-1" type="submit">Delete</a>

                </div>

            </div>

        </div>

    </div>
</div>