{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-12 mx-auto">

        <!-- TABS' HEADERS -->
        <ul class="nav nav-pills nav-justified mt-2 shadow-lg" id="myTab" role="tablist">

            <!-- TAB1 MOJE_KONTO -->
            <li class="nav-item mx-1" role="presentation">
                <button class="nav-link active" id="myprofile-tab" data-bs-toggle="tab" data-bs-target="#myprofile"
                    type="button" role="tab" aria-controls="myprofile" aria-selected="true">
                    Moje konto
                </button>
            </li>

            <!-- TAB2 MOJE OGŁOSZENIA -->

            <li class="nav-item mx-1" role="presentation">
                <button class="nav-link" id="offers-tab" data-bs-toggle="tab" data-bs-target="#offers" type="button" role="tab"
                    aria-controls="offers" aria-selected="true">
                    Moje ogłoszenia
                </button>
            </li>

            <!-- TAB3 OBSERWUJĘ  -->

            <li class="nav-item mx-1" role="presentation">
                <button class="nav-link" id="observed-tab" data-bs-toggle="tab" data-bs-target="#observed" type="button" role="tab"
                    aria-controls="observed" aria-selected="true">
                    Obserwowane
                </button>
            </li>

            <!-- TAB4 ZMIEŃ HASŁO -->
            <li class="nav-item mx-1" role="presentation">
                <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password" type="button"
                    role="tab" aria-controls="password" aria-selected="false">
                    Resetuj hasło
                </button>
            </li>

        </ul>

        <!-- TABS -->
        <div class="tab-content mt-4" id="myTabContent">

            <!-- TAB1 MOJE_KONTO -->
            <div class="tab-pane fade show active" id="myprofile" role="tabpanel" aria-labelledby="myprofile-tab">
            {% include 'users/account/my_account_details.html' %}
            </div>

            <!-- TAB2 MOJE OGŁOSZENIA -->
            <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="offers-tab">
            {% include 'users/account/my_offers.html' %}
            </div>

            <!-- TAB3 OBSERWUJĘ  -->
            <div class="tab-pane fade" id="observed" role="tabpanel" aria-labelledby="observed-tab">
            {% include 'users/account/observed_offers.html' %}
            </div>

            <!-- TAB4 ZMIEŃ HASŁO -->
            <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
            {% include 'users/account/reset_password.html' %}
            </div>
        </div>
    </div>
</div>




{% endblock content %}