{% load crispy_forms_tags %}
{% load static %}



<!-- TAB1 MOJE_KONTO -->
<div class='d-flex'>
    <img class='img-fluid account-img' src='{{ user.account.image.url }}' alt='profile image'>
    <p class='d-inline '>{{ user.username }}</p>
</div>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="tab-pane fade show active" id="myprofile" role="tabpanel" aria-labelledby="myprofile-tab">
        {% for field in account_update_form %}
        {{ field }}
        {% endfor %}
        <hr>
        {{ user_update_form | crispy }}
    </div>


    <!--   BUTTONS SAVE  -->
    <div class="d-flex justify-content-center my-2">
        <button class="btn btn-secondary mx-2 py-2 px-4" type="submit">Zapisz zmiany</button>
    </div>
</form>