
{% load crispy_forms_tags %}
{% load static %}

<div class="tab-pane fade" id="seller" role="tabpanel" aria-labelledby="seller-tab">
    <div class="dropdown">
        <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
            aria-expanded="false">
            Zobacz inne ogłoszenia tego sprzedającego
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for offer in object.seller.offer_set.all %}
            <li><a class="dropdown-item" href="{% url 'offerdetail' offer.id %}">{{ offer.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>